<h1>Lanzamiento de nuevos juegos enero 2022</h1>
<hr>
<br>

<br>

<div class="caja1">
    <h2>Doom Eternal 15/01/22</h2>

    <br>
    <img src="assets/doom-eternal-review-generacion-xbox-portada-940x586.jpg.webp" alt="">
</div>

<br>
<div class="caja2">
    <h2>Ghostwire Tokio 22/01/22</h2>
    <br>
    <img src="assets/header.jpg" alt="">
</div>
<br>
<div>
    <p class="e1">DOOM ETERNAl</p>
    <br>
    <iframe class="video1" width="560" height="315" src="https://www.youtube.com/embed/6eMhs6VFG0o"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>
    <br>
    <br>
    <b class="rata">Doom Eternal es un videojuego de acción y disparos en primera persona desarrollado por id
        Software y publicado por Bethesda Softworks.​ Es el quinto título principal de la serie Doom y la secuela
        directa de Doom (2016). El juego fue lanzado el 20 de marzo de 2020 para las plataformas PlayStation 4, Xbox
        One, Microsoft Windows, Google Stadia y Nintendo Switch el 29 de junio del 2021 en plataformas como
        PlayStation 5 y Xbox Series X. Las críticas mayormente positivas están repletas de elogios por su campaña,
        gráficos, diseño de niveles, banda sonora y mecánicas de combate. También hubo algunas discrepancias por el
        mayor enfoque en la narrativa visual y sus secciones de plataformas. El juego recibió 5 nominaciones en The
        Game Awards 2020, incluidos como juego del año (GOTY) y mejor juego de acción</b>
    <br>
    <br>
    <hr>
</div>
<div class="galeria1">
    <img src="/assets/2507465e209adfa8ecd4_web.webp" alt="">
    <img src="/assets/CCAEodPgRurVyDoudRGRyC.jpg" alt="">
    <img src="/assets/maxresdefault.jpg" alt="">
    <img src="/assets/doom-eternal-new-demons.jpg" alt="">
</div>
<br>
<p class="e1">GHOSTWIRE TOKIO</p>
<br>
<iframe class="video1" width="560" height="315" src="https://www.youtube.com/embed/250BM60ZYFM"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<br>
<br>
<b class="rata2">
    Ghostwire: Tokyo es un videojuego de terror y acción japonés perteneciente al género de acción y aventura
    desarrollado por la empresa Tango Gameworks, el videojuego es la más reciente entrega dirigida por Ikumi
    Nakamura, una de las artistas principales en videojuegos como Okami, Bayonetta, The Evil Within y es considerada
    la discípula de Shinki Mikami.1​ Fue anunciado por Mikami en el año 2019, y su lanzamiento fue el 25 de marzo de
    2022 en PlayStation 5 y Microsoft Windows.
</b>
<br>
<br>
<br>
<hr>
<div class="galeria2">
    <img src="/assets/-1644160613798.jpg" alt="">
    <img src="/assets/16482110151717.jpg" alt="">
    <img src="assets/ghostwire_tokyo_gameplay.jpg" alt="">
    <img src="/assets/Ghostwire-fecha-de-lanzamiento-de-Tokio-fijada-para-el-25.jpg" alt="">
</div>
<hr>
<br>
<br>
<hr>

<div class="container">
    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="row">
            <div class="col-5">
                <label for="fname" class="lbl">Nombre</label>
            </div>
            <div>
                <input type="text" id="fname" placeholder="Nombre" class="txtbox" formControlName="nombre"
                    [class.is-invalid]="nombreNoValido">
                <small class="text-danger" *ngIf="nombreNoValido">
                    Ingrese mas de 3 letras
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="flastName" class="lbl">Apellido</label>
            </div>
            <div>
                <input type="text" id="flastName" placeholder="Apellido" class="txtbox" formControlName="apellido"
                    [class.is-invalid]="apellidoNoValido">
                <small class="text-danger" *ngIf="apellidoNoValido">
                    Ingrese mas de 3 letras
                </small>

            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="femail" class="lbl">Email</label>
            </div>
            <div>
                <input type="text" id="femail" placeholder="Correo Electronico" class="txtbox" formControlName="correo"
                    [class.is-invalid]="correoNoValido">
                <small class="text-danger" *ngIf="correoNoValido">
                    Ingrese un email valido
                </small>
            </div>
        </div>
        <br>
        <textarea id="mensaje" cols="30" rows="10" placeholder="Ingrese un mensaje" required="" maxlength="250"
            class="caja" formControlName="mensaje">
        </textarea>
        <div class="row">
            <div *ngIf="registerSend" class="alinea-btn">
                <button type="submit" class="btn" [disabled]="forma.invalid">Guardar</button>
            </div>
            <div *ngIf="!registerSend" class="alinea-btn">
                <button type="button" class="btn">Formulario enviado con exito</button>
            </div>
        </div>
    </form>
</div>
<form [formGroup]="forma" (ngSubmit)="guardar()">
<br>

    <footer>
        <div>
            <br>
            <br>
            <div class="iconos1">
                Contactanos por facebook twitter instagran
                para mas informacion
                <br>
                <br>
                <div class="iconos3">
                <ul class="texto22">
                    <li>Creador:Royer</li>
                    <li>Correo:Mono231@gmail.com</li>
                </ul>
                <div class="iconos2">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            </div>
        </div>
    </footer>