/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
   background-color:black;
    color: white;
 

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

